In [1]:
from model import *

In [2]:
dir()

['Book',
 'DB',
 'In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'app',
 'exit',
 'get_ipython',
 'quit']

In [3]:
DB.create_all()

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('quarter.csv', encoding='utf8', engine='python')

In [7]:
df['published_on']

0        Published       August 3rd 2006        by Waki...
1        Published       September 22nd 2009        by ...
2        Published       March 11th 2015        by Chat...
3        Published       April 29th 2010        by Book...
4        Published       May 13th 2018        by Betwee...
5        Published       April 30th 2013        by Atri...
6        Published       February 2nd 2010        by At...
7                        Published       January 23rd 2019
8        Published       June 30th 1998        by Vinta...
9        Published       February 1st 2004        by Be...
10       Published       November 7th 2000        by Br...
11       Published       November 1st 2008        by Orbit
12       Published       February 15th 1991        by P...
13       Published       September 15th 1995        by ...
14                       Published       January 16th 2019
15       Published       June 2011        by Kiss Me Pu...
16       Published       February 6th 2012        by Eg...
17       Published       September 1st 2006        by B...
18       Published       June 1999        by Pocket Boo...
19       Published       May 4th 2010        by Simon  ...
20       Published       March 11th 2019        by Chat...
21       Published       February 27th 2003        by P...
22       Published       September 25th 2003        by ...
23       Published       September 6th 2006        by W...
24       Published       October 15th 2013        by Di...
25       Published       August 1st 2003        by Harp...
26       Published       August 26th 2012        by Ski...
27       Published       November 2nd 1998        by Co...
28       Published       December 31st 1978        by S...
29       Published       May 16th 2006        by Square...
                               ...
31439    Published       May 31st 2003        by NYRB C...
31440    Published       October 31st 1998        by Sp...
31441    Published       November 1st 1995        by Pr...
31442    Published       April 4th 1995        by Schoc...
31443    Published       September 24th 2002        by ...
31444    Published       February 1st 1982        by Ba...
31445    Published       October 9th 2001        by Scr...
31446    Published       October 17th 2006        by Ha...
31447    Published       October 7th 2003        by Har...
31448    Published       December 20th 2000        by B...
31449    Published       April 12th 2005        by Vint...
31450    Published       May 10th 2007        by Razorb...
31451    Published       July 1st 2003        by Ig Pub...
31452    Published       October 1st 2002        by Spu...
31453    Published       2006        by Maarten Munting...
31454    Published       June 27th 2006        by Rando...
31455    Published       October 1st 2005        by Ten...
31456    Published       May 1st 2008        by HMH Boo...
31457    Published       October 9th 2007        by Sim...
31458         Published       1989        by Vortex Comics
31459    Published       November 6th 2006        by Wa...
31460    Published       February 10th 2004        by S...
31461    Published       January 1st 1980        by Pen...
31462    Published       February 1st 2003        by Fl...
31463    Published       December 5th 1989        by Pe...
31464    Published       October 1st 2007        by Bak...
31465    Published       November 30th 2005        by G...
31466    Published       June 17th 2005        by Fanta...
31467    Published       December 12th 2008        by C...
31468    Published       March 1st 1993        by Schol...
Name: published_on, Length: 31469, dtype: object

In [8]:
for idx, row in df.iterrows(): 
    row['published_on'] = " ".join(str(row['published_on']).split())

In [9]:
df['published_on']

0        Published August 3rd 2006 by Waking Lion Press...
1        Published September 22nd 2009 by Doubleday Nan...
2        Published March 11th 2015 by Chatter Creek Pub...
3          Published April 29th 2010 by Book Guild Limited
4        Published May 13th 2018 by Between the Lines P...
5                 Published April 30th 2013 by Atria Books
6               Published February 2nd 2010 by Atria Books
7                              Published January 23rd 2019
8        Published June 30th 1998 by Vintage Contempora...
9        Published February 1st 2004 by Beacon Press (f...
10       Published November 7th 2000 by Broadview Press...
11                    Published November 1st 2008 by Orbit
12       Published February 15th 1991 by Pocket Books (...
13              Published September 15th 1995 by Tor Books
14                             Published January 16th 2019
15             Published June 2011 by Kiss Me Publications
16             Published February 6th 2012 by Egmont Press
17       Published September 1st 2006 by Bloomsbury Chi...
18       Published June 1999 by Pocket Books (first pub...
19       Published May 4th 2010 by Simon Schuster Books...
20       Published March 11th 2019 by Chattercreek (fir...
21       Published February 27th 2003 by Penguin Classi...
22       Published September 25th 2003 by Penguin Class...
23       Published September 6th 2006 by Washington Squ...
24          Published October 15th 2013 by Disney-Hyperion
25       Published August 1st 2003 by Harpercollins Chi...
26       Published August 26th 2012 by Skinny Leopard M...
27       Published November 2nd 1998 by Collins (first ...
28       Published December 31st 1978 by Simon & Schust...
29       Published May 16th 2006 by Square Fish (first ...
                               ...
31439    Published May 31st 2003 by NYRB Classics (firs...
31440    Published October 31st 1998 by Sparkle Street ...
31441    Published November 1st 1995 by Prometheus Book...
31442    Published April 4th 1995 by Schocken (first pu...
31443    Published September 24th 2002 by Three Rivers ...
31444    Published February 1st 1982 by Bantam (first p...
31445               Published October 9th 2001 by Scribner
31446    Published October 17th 2006 by Harper (first p...
31447    Published October 7th 2003 by Harper Perennial...
31448    Published December 20th 2000 by Borgo Press (f...
31449    Published April 12th 2005 by Vintage (first pu...
31450    Published May 10th 2007 by Razorbill (first pu...
31451    Published July 1st 2003 by Ig Publishing (firs...
31452         Published October 1st 2002 by Spuyten Duyvil
31453    Published 2006 by Maarten Muntinga (first publ...
31454    Published June 27th 2006 by Random House (firs...
31455    Published October 1st 2005 by Ten Speed Press ...
31456    Published May 1st 2008 by HMH Books for Young ...
31457    Published October 9th 2007 by Simon Schuster (...
31458                      Published 1989 by Vortex Comics
31459     Published November 6th 2006 by Warner Books (NY)
31460    Published February 10th 2004 by Scribner (firs...
31461    Published January 1st 1980 by Penguin Canada (...
31462    Published February 1st 2003 by Fleming H. Reve...
31463    Published December 5th 1989 by Penguin Books (...
31464            Published October 1st 2007 by Baker Books
31465    Published November 30th 2005 by Grove Press (f...
31466    Published June 17th 2005 by Fantagraphics (fir...
31467    Published December 12th 2008 by Createspace (f...
31468    Published March 1st 1993 by Scholastic Paperbacks
Name: published_on, Length: 31469, dtype: object

In [14]:
df.to_csv("quarter.csv")

In [16]:
df1 = pd.read_csv('quarter.csv')

In [17]:
df1.shape

(31469, 15)

In [19]:
df2 = pd.read_csv('quarter2.csv', encoding='utf8', engine='python')

In [20]:
df2.shape

(31469, 14)

In [21]:
df2.to_csv("quarter2.csv")

In [22]:
df3 = pd.read_csv('quarter2.csv')

In [23]:
df3.shape

(31469, 15)

In [ ]:
df.head(5)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df['rating'] = df['rating'].astype(float)

In [ ]:
for idx, row in df.iterrows():
    book = Book(webpage=row['n'], title=row['title'], author=row['author'], descrip=row['descrip'],
                rating=row['rating'], num_ratings=row['num_ratings'], num_reviews=row['num_reviews'], 
                isbn=row['isbn'], isbn13=row['isbn13'], binding=row['binding'], edition=row['edition'], 
                num_pages=row['pages'], published_on=row['published_on'], genres=row['genres'])
    DB.session.add(book)
    DB.session.commit()