In [1]:
import pandas as pd

In [142]:
df = pd.read_csv('bb_scrape.csv')

In [143]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,5297,\n The Picture of Dorian Gray\n,Oscar Wilde,\n 4.07\n,"\n\n 840,272\n ratings\n","\n\n 25,411\n reviews\n","﻿Written in his distinctively dazzling manner,...",0375751513,9780375751516),Paperback,Modern Library Classics,272 pages,\n Published\n June 1st 2004...,"['Classics', 'Fiction', 'Horror', 'Fantasy', '..."
1,968,\n The Da Vinci Code\n,Dan Brown,\n 3.83\n,"\n\n 1,748,882\n ratings\n","\n\n 44,738\n reviews\n",An ingenious code hidden in the works of Leona...,0307277674,9780307277671),Paperback,NaN,489 pages,\n Published\n March 28th 20...,"['Fiction', 'Mystery', 'Thriller', 'Suspense',..."
2,28078,\n The Birth of Venus\n,Sarah Dunant,\n 3.81\n,"\n\n 88,930\n ratings\n","\n\n 3,167\n reviews\n",Alessandra Cecchi is not quite fifteen when he...,0812968972,9780812968972),Paperback,NaN,427 pages,\n Published\n November 30th...,"['Historical', 'Historical Fiction', 'Fiction'..."
3,89788,\n The Lady and the Unicorn\n,Tracy Chevalier,\n 3.68\n,"\n\n 39,033\n ratings\n","\n\n 1,850\n reviews\n","A tour de force of history and imagination, Th...",0452285453,9780452285453),Paperback,NaN,250 pages,\n Published\n December 1st ...,"['Historical', 'Historical Fiction', 'Fiction'..."
4,321577,\n Girl in Hyacinth Blue\n,Susan Vreeland,\n 3.73\n,"\n\n 36,499\n ratings\n","\n\n 1,818\n reviews\n",A professor invites a colleague from the art d...,014029628X,9780140296280),Paperback,NaN,242 pages,\n Published\n October 1st 2...,"['Historical', 'Historical Fiction', 'Fiction'..."

In [144]:
df.dropna(subset=['descrip'], inplace=True)
df.isnull().sum()

n                  0
title              0
author             0
rating             0
num_ratings        0
num_reviews        0
descrip            0
isbn               0
isbn13             0
binding            5
edition         1651
pages             17
published_on       4
genres             0
dtype: int64

In [145]:
print(df.shape)
df.head()

(1945, 14)

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,5297,\n The Picture of Dorian Gray\n,Oscar Wilde,\n 4.07\n,"\n\n 840,272\n ratings\n","\n\n 25,411\n reviews\n","﻿Written in his distinctively dazzling manner,...",0375751513,9780375751516),Paperback,Modern Library Classics,272 pages,\n Published\n June 1st 2004...,"['Classics', 'Fiction', 'Horror', 'Fantasy', '..."
1,968,\n The Da Vinci Code\n,Dan Brown,\n 3.83\n,"\n\n 1,748,882\n ratings\n","\n\n 44,738\n reviews\n",An ingenious code hidden in the works of Leona...,0307277674,9780307277671),Paperback,NaN,489 pages,\n Published\n March 28th 20...,"['Fiction', 'Mystery', 'Thriller', 'Suspense',..."
2,28078,\n The Birth of Venus\n,Sarah Dunant,\n 3.81\n,"\n\n 88,930\n ratings\n","\n\n 3,167\n reviews\n",Alessandra Cecchi is not quite fifteen when he...,0812968972,9780812968972),Paperback,NaN,427 pages,\n Published\n November 30th...,"['Historical', 'Historical Fiction', 'Fiction'..."
3,89788,\n The Lady and the Unicorn\n,Tracy Chevalier,\n 3.68\n,"\n\n 39,033\n ratings\n","\n\n 1,850\n reviews\n","A tour de force of history and imagination, Th...",0452285453,9780452285453),Paperback,NaN,250 pages,\n Published\n December 1st ...,"['Historical', 'Historical Fiction', 'Fiction'..."
4,321577,\n Girl in Hyacinth Blue\n,Susan Vreeland,\n 3.73\n,"\n\n 36,499\n ratings\n","\n\n 1,818\n reviews\n",A professor invites a colleague from the art d...,014029628X,9780140296280),Paperback,NaN,242 pages,\n Published\n October 1st 2...,"['Historical', 'Historical Fiction', 'Fiction'..."

In [146]:
# To STRIP - title, rating, #ratings, #reviews, published_on
## Also ")" from ISBN13

for row in df.iterrows():
    for col in ['title', 'rating', 'num_ratings', 'num_reviews', 'published_on']:
        row[1][col] = str(row[1][col]).strip()

In [147]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,5297,The Picture of Dorian Gray,Oscar Wilde,4.07,"840,272\n ratings","25,411\n reviews","﻿Written in his distinctively dazzling manner,...",0375751513,9780375751516),Paperback,Modern Library Classics,272 pages,Published\n June 1st 2004\n by ...,"['Classics', 'Fiction', 'Horror', 'Fantasy', '..."
1,968,The Da Vinci Code,Dan Brown,3.83,"1,748,882\n ratings","44,738\n reviews",An ingenious code hidden in the works of Leona...,0307277674,9780307277671),Paperback,NaN,489 pages,Published\n March 28th 2006\n b...,"['Fiction', 'Mystery', 'Thriller', 'Suspense',..."
2,28078,The Birth of Venus,Sarah Dunant,3.81,"88,930\n ratings","3,167\n reviews",Alessandra Cecchi is not quite fifteen when he...,0812968972,9780812968972),Paperback,NaN,427 pages,Published\n November 30th 2004\n ...,"['Historical', 'Historical Fiction', 'Fiction'..."
3,89788,The Lady and the Unicorn,Tracy Chevalier,3.68,"39,033\n ratings","1,850\n reviews","A tour de force of history and imagination, Th...",0452285453,9780452285453),Paperback,NaN,250 pages,Published\n December 1st 2004\n ...,"['Historical', 'Historical Fiction', 'Fiction'..."
4,321577,Girl in Hyacinth Blue,Susan Vreeland,3.73,"36,499\n ratings","1,818\n reviews",A professor invites a colleague from the art d...,014029628X,9780140296280),Paperback,NaN,242 pages,Published\n October 1st 2000\n ...,"['Historical', 'Historical Fiction', 'Fiction'..."

In [162]:
# for value in column
## new value = join the split list of old value
for val in df['num_ratings']:
    val_l = val.split('\n ')
    for v in val_l:
        v.strip('\n')
    print(str(val_l[0]))
    new_val = ''.join(val_l)
    print(new_val)
    df.replace(val, new_val)

840,272
840,272ratings
1,748,882
1,748,882ratings
88,930
88,930ratings
39,033
39,033ratings
36,499
36,499ratings
74,549
74,549ratings
398,313
398,313ratings
22,581
22,581ratings
16,436
16,436ratings
602,753
602,753ratings
66,303
66,303ratings
18,971
18,971ratings
118,817
118,817ratings
27,386
27,386ratings
29,482
29,482ratings
85,896
85,896ratings
268
268ratings
73,653
73,653ratings
52,415
52,415ratings
115,917
115,917ratings
6,996
6,996ratings
40,685
40,685ratings
172,235
172,235ratings
34,240
34,240ratings
16,366
16,366ratings
2,426,484
2,426,484ratings
35,903
35,903ratings
1,809,817
1,809,817ratings
66,361
66,361ratings
17,019
17,019ratings
9,249
9,249ratings
5,397
5,397ratings
2,978
2,978ratings
3,009
3,009ratings
19,348
19,348ratings
71,270
71,270ratings
6,977
6,977ratings
117,223
117,223ratings
12,252
12,252ratings
15,532
15,532ratings
5,822
5,822ratings
51,257
51,257ratings
7,969
7,969ratings
151
151ratings
23,670
23,670ratings
34,498
34,498ratings
114
114ratings
183,552
183,552ratings
40,245
40,245ratings
1,007
1,007ratings
1,203
1,203ratings
689,575
689,575ratings
1,464,010
1,464,010ratings
2,211
2,211ratings
32,031
32,031ratings
3,685
3,685ratings
2,782
2,782ratings
1,960
1,960ratings
55,401
55,401ratings
82,109
82,109ratings
31,775
31,775ratings
5,059
5,059ratings
22,310
22,310ratings
16,037
16,037ratings
14,032
14,032ratings
15,433
15,433ratings
16,094
16,094ratings
204,252
204,252ratings
10,982
10,982ratings
26,255
26,255ratings
33,501
33,501ratings
27,168
27,168ratings
44,375
44,375ratings
2,117
2,117ratings
4,766
4,766ratings
11,522
11,522ratings
100,549
100,549ratings
4,143
4,143ratings
6,753
6,753ratings
2,675
2,675ratings
170
170ratings
78,775
78,775ratings
5,146
5,146ratings
2,411
2,411ratings
55,428
55,428ratings
155,116
155,116ratings
129,721
129,721ratings
1,179
1,179ratings
180
180ratings
297
297ratings
2,212
2,212ratings
569,723
569,723ratings
num_ratings
num_ratings
219,341
219,341ratings
148,485
148,485ratings
324,469
324,469ratings
69,648
69,648ratings
64,661
64,661ratings
246,770
246,770ratings
113,316
113,316ratings
38,659
38,659ratings
43,691
43,691ratings
6,058
6,058ratings
3,356
3,356ratings
10,308
10,308ratings
16,213
16,213ratings
40,794
40,794ratings
7,037
7,037ratings
54,383
54,383ratings
61,609
61,609ratings
4,279
4,279ratings
3,107
3,107ratings
21,750
21,750ratings
5,112
5,112ratings
20,651
20,651ratings
2,204,339
2,204,339ratings
96,953
96,953ratings
7,607
7,607ratings
42,928
42,928ratings
num_ratings
num_ratings
20,651
20,651ratings
2,204,339
2,204,339ratings
96,953
96,953ratings
7,607
7,607ratings
42,928
42,928ratings
58
58ratings
81,089
81,089ratings
9,998
9,998ratings
792
792ratings
156,856
156,856ratings
10,919
10,919ratings
58,289
58,289ratings
3,643
3,643ratings
3,039
3,039ratings
74,756
74,756ratings
2,500
2,500ratings
13,302
13,302ratings
1,148
1,148ratings
1,848
1,848ratings
931
931ratings
19,965
19,965ratings
260,266
260,266ratings
900
900ratings
3,200
3,200ratings
2,902
2,902ratings
1,342
1,342ratings
134,058
134,058ratings
1,812
1,812ratings
87
87ratings
11,660
11,660ratings
2,817
2,817ratings
12,141
12,141ratings
667
667ratings
463
463ratings
11,874
11,874ratings
1,602
1,602ratings
542
542ratings
5,300
5,300ratings
2,472
2,472ratings
1,574
1,574ratings
22,329
22,329ratings
14,636
14,636ratings
1,325
1,325ratings
742
742ratings
7,890
7,890ratings
232
232ratings
7,217
7,217ratings
675
675ratings
1,016
1,016ratings
549
549ratings
59
59ratings
37
37ratings
4,817
4,817ratings
2,083
2,083ratings
498
498ratings
12,216
12,216ratings
902
902ratings
78
78ratings
3,874
3,874ratings
3,655
3,655ratings
7,736
7,736ratings
17,195
17,195ratings
1,924
1,924ratings
1,520
1,520ratings
115
115ratings
30
30ratings
806
806ratings
9,577
9,577ratings
824
824ratings
742
742ratings
876,745
876,745ratings
495,185
495,185ratings
332,276
332,276ratings
6,954
6,954ratings
318,313
318,313ratings
578,319
578,319ratings
79,882
79,882ratings
172,114
172,114ratings
160,636
160,636ratings
170,541
170,541ratings
376
376ratings
140,628
140,628ratings
195,587
195,587ratings
1,077
1,077ratings
24,424
24,424ratings
62,938
62,938ratings
106,839
106,839ratings
60,688
60,688ratings
223,474
223,474ratings
1,372
1,372ratings
39
39ratings
151,121
151,121ratings
82,757
82,757ratings
2,186
2,186ratings
41,682
41,682ratings
207,078
207,078ratings
58,007
58,007ratings
51,561
51,561ratings
57,572
57,572ratings
40
40ratings
106,448
106,448ratings
10,388
10,388ratings
244,822
244,822ratings
9,637
9,637ratings
52,303
52,303ratings
76,287
76,287ratings
28,978
28,978ratings
2,160
2,160ratings
41,195
41,195ratings
406
406ratings
4,819
4,819ratings
95,525
95,525ratings
9,320
9,320ratings
10,806
10,806ratings
17,778
17,778ratings
49
49ratings
14
14ratings
202,527
202,527ratings
21
21ratings
3,081
3,081ratings
11,724
11,724ratings
36,597
36,597ratings
354,077
354,077ratings
6,423
6,423ratings
40,532
40,532ratings
2,888
2,888ratings
238,469
238,469ratings
912
912ratings
11,773
11,773ratings
10
10ratings
18
18ratings
87
87ratings
32,099
32,099ratings
14
14ratings
38,711
38,711ratings
796,772
796,772ratings
2,241
2,241ratings
14,381
14,381ratings
10,389
10,389ratings
328,449
328,449ratings
53,527
53,527ratings
4,805
4,805ratings
52,226
52,226ratings
228,764
228,764ratings
4,102
4,102ratings
12,292
12,292ratings
1,490
1,490ratings
55,719
55,719ratings
578
578ratings
206
206ratings
2,768
2,768ratings
5,536
5,536ratings
114,491
114,491ratings
43,629
43,629ratings
10,210
10,210ratings
11,720
11,720ratings
58,831
58,831ratings
1,078
1,078ratings
936
936ratings
41,029
41,029ratings
1,920
1,920ratings
551
551ratings
208,868
208,868ratings
22,802
22,802ratings
16,198
16,198ratings
12,131
12,131ratings
269,728
269,728ratings
9,311
9,311ratings
128,762
128,762ratings
581,191
581,191ratings
6,041
6,041ratings
90,093
90,093ratings
82,093
82,093ratings
5,665
5,665ratings
342
342ratings
14,513
14,513ratings
7,137
7,137ratings
12,059
12,059ratings
3,256
3,256ratings
6,814
6,814ratings
12,321
12,321ratings
4,095
4,095ratings
143,029
143,029ratings
6,432
6,432ratings
5,994
5,994ratings
6,476
6,476ratings
105
105ratings
206
206ratings
6,163
6,163ratings
18,308
18,308ratings
3,565
3,565ratings
16,418
16,418ratings
19,300
19,300ratings
89
89ratings
289
289ratings
2,288
2,288ratings
8,252
8,252ratings
10,080
10,080ratings
13,604
13,604ratings
7,143
7,143ratings
3,325
3,325ratings
20,893
20,893ratings
14,981
14,981ratings
7,703
7,703ratings
8,202
8,202ratings
10,709
10,709ratings
8,751
8,751ratings
5,969
5,969ratings
7,425
7,425ratings
6,271
6,271ratings
134,859
134,859ratings
60
60ratings
71,578
71,578ratings
7,275
7,275ratings
5,205
5,205ratings
488
488ratings
834
834ratings
806
806ratings
159,113
159,113ratings
3,064
3,064ratings
147
147ratings
5,008
5,008ratings
107,423
107,423ratings
6,152
6,152ratings
4,604
4,604ratings
1,854
1,854ratings
1,691
1,691ratings
8,394
8,394ratings
6,811
6,811ratings
26
26ratings
43
43ratings
6,180
6,180ratings
63,293
63,293ratings
12,082
12,082ratings
127
127ratings
879
879ratings
1,717
1,717ratings
12,336
12,336ratings
56,900
56,900ratings
35
35ratings
6,362
6,362ratings
1,223
1,223ratings
288
288ratings
114
114ratings
316
316ratings
103,658
103,658ratings
1,083
1,083ratings
10
10ratings
2,966
2,966ratings
19
19ratings
19
19ratings
890
890ratings
41
41ratings
37
37ratings
38
38ratings
2
2ratings
0
0ratings
213
213ratings
290
290ratings
69
69ratings
230,828
230,828ratings
33,370
33,370ratings
14,835
14,835ratings
42,442
42,442ratings
11,938
11,938ratings
23,636
23,636ratings
8,951
8,951ratings
9,976
9,976ratings
5,068
5,068ratings
8,282
8,282ratings
10,912
10,912ratings
2,298
2,298ratings
9,548
9,548ratings
6,096
6,096ratings
15,816
15,816ratings
1,610
1,610ratings
4,489
4,489ratings
58,289
58,289ratings
11,124
11,124ratings
10,568
10,568ratings
1,360
1,360ratings
856
856ratings
1,996
1,996ratings
793
793ratings
16,194
16,194ratings
938
938ratings
2,554
2,554ratings
3,036
3,036ratings
914
914ratings
2,348
2,348ratings
456
456ratings
731
731ratings
2,794
2,794ratings
1,604
1,604ratings
1,368
1,368ratings
4,238
4,238ratings
485
485ratings
1,511
1,511ratings
1,756
1,756ratings
676
676ratings
87,200
87,200ratings
162
162ratings
407
407ratings
2,123
2,123ratings
3,564
3,564ratings
3,879
3,879ratings
79
79ratings
434
434ratings
783
783ratings
129
129ratings
532
532ratings
580
580ratings
25,940
25,940ratings
0
0ratings
188
188ratings

38
38ratings
258
258ratings
278
278ratings
1,139
1,139ratings
824
824ratings
245
245ratings
642
642ratings
273,077
273,077ratings
2,102
2,102ratings
12
12ratings
249
249ratings
46
46ratings
58
58ratings
242
242ratings
58
58ratings
56
56ratings
74
74ratings
914
914ratings
4
4ratings
55
55ratings
1,500
1,500ratings
32
32ratings
35
35ratings
1,074
1,074ratings
18
18ratings
4,954
4,954ratings
51
51ratings
116
116ratings
360,393
360,393ratings
7,530
7,530ratings
11,762
11,762ratings
596
596ratings
54
54ratings
15,429
15,429ratings
20,618
20,618ratings
53,052
53,052ratings
1,206
1,206ratings
56,573
56,573ratings
792
792ratings
8,021
8,021ratings
3,695
3,695ratings
2,479
2,479ratings
3,445
3,445ratings
6,702
6,702ratings
6,167
6,167ratings
87,200
87,200ratings
36,258
36,258ratings
428
428ratings
23
23ratings
7,124
7,124ratings
1,140
1,140ratings
1,656
1,656ratings
13,520
13,520ratings
639
639ratings
19,031
19,031ratings
554
554ratings
16,803
16,803ratings
491
491ratings
1,030
1,030ratings
162
162ratings
337
337ratings
25,119
25,119ratings
426
426ratings
29
29ratings
4,057
4,057ratings
645
645ratings
1,055
1,055ratings
475
475ratings
1,335
1,335ratings
2,182
2,182ratings
2,744
2,744ratings
1,905
1,905ratings
243
243ratings
140
140ratings
2,327
2,327ratings
41,238
41,238ratings
167
167ratings
11,963
11,963ratings
5,477
5,477ratings
13
13ratings
10,506
10,506ratings
312,057
312,057ratings
75
75ratings
290
290ratings
66,897
66,897ratings
1,284
1,284ratings
1,344
1,344ratings
360
360ratings
5,074
5,074ratings
7
7ratings
415
415ratings
4,859
4,859ratings
80
80ratings
6,072
6,072ratings
159
159ratings
24
24ratings
203
203ratings
142
142ratings
469
469ratings
2,067
2,067ratings
791
791ratings
181
181ratings
51
51ratings
433
433ratings
2,384
2,384ratings
62
62ratings
632
632ratings
2,983
2,983ratings
2,851
2,851ratings
479
479ratings
8,900
8,900ratings
30
30ratings
73
73ratings
18,314
18,314ratings
22
22ratings
1
1rating
17,095
17,095ratings
326
326ratings
4
4ratings
14
14ratings
6,696
6,696ratings
4,806
4,806ratings
34,321
34,321ratings
984
984ratings
1,053
1,053ratings
455,794
455,794ratings
114,491
114,491ratings
241,536
241,536ratings
101,474
101,474ratings
185,052
185,052ratings
152,531
152,531ratings
151,901
151,901ratings
211,518
211,518ratings
98,215
98,215ratings
121,759
121,759ratings
194,745
194,745ratings
156,707
156,707ratings
114,143
114,143ratings
31,657
31,657ratings
50,815
50,815ratings
69,266
69,266ratings
62,933
62,933ratings
169,920
169,920ratings
61,782
61,782ratings
30,609
30,609ratings
43,609
43,609ratings
38,835
38,835ratings
46,236
46,236ratings
54,135
54,135ratings
64,661
64,661ratings
39,337
39,337ratings
58,155
58,155ratings
22,862
22,862ratings
49,494
49,494ratings
97,373
97,373ratings
41,856
41,856ratings
44,354
44,354ratings
33,909
33,909ratings
24,244
24,244ratings
20,834
20,834ratings
52,028
52,028ratings
39,222
39,222ratings
21,565
21,565ratings
36,736
36,736ratings
20,639
20,639ratings
24,365
24,365ratings
11,099
11,099ratings
13,165
13,165ratings
108,160
108,160ratings
15,777
15,777ratings
142,651
142,651ratings
29,580
29,580ratings
24,672
24,672ratings
14,067
14,067ratings
57,165
57,165ratings
34,508
34,508ratings
322,487
322,487ratings
8,873
8,873ratings
36,998
36,998ratings
12,442
12,442ratings
22,684
22,684ratings
22,254
22,254ratings
28,950
28,950ratings
13,581
13,581ratings
8,677
8,677ratings
150,610
150,610ratings
18,492
18,492ratings
72,310
72,310ratings
25,780
25,780ratings
14,452
14,452ratings
19,023
19,023ratings
9,161
9,161ratings
8,186
8,186ratings
21,170
21,170ratings
11,172
11,172ratings
84,845
84,845ratings
11,660
11,660ratings
33,625
33,625ratings
155,713
155,713ratings
17,523
17,523ratings
6,258
6,258ratings
5,817
5,817ratings
11,384
11,384ratings
10,904
10,904ratings
3,442
3,442ratings
9,000
9,000ratings
9,397
9,397ratings
7,579
7,579ratings
17,610
17,610ratings
1,464,010
1,464,010ratings
731,975
731,975ratings
368,143
368,143ratings
376,785
376,785ratings
953,670
953,670ratings
177,113
177,113ratings
44,025
44,025ratings
26,202
26,202ratings
30,205
30,205ratings
259,096
259,096ratings
88,510
88,510ratings
17,373
17,373ratings
231,218
231,218ratings
208,396
208,396ratings
75,903
75,903ratings
183,758
183,758ratings
124,900
124,900ratings
538,365
538,365ratings
1,263,614
1,263,614ratings
148,776
148,776ratings
19,714
19,714ratings
162,621
162,621ratings
39,279
39,279ratings
96,017
96,017ratings
125,696
125,696ratings
13,649
13,649ratings
20,541
20,541ratings
15,641
15,641ratings
46,938
46,938ratings
31,600
31,600ratings
89,102
89,102ratings
232
232ratings
6,399
6,399ratings
52,472
52,472ratings
105,597
105,597ratings
320,583
320,583ratings
110,068
110,068ratings
4,389
4,389ratings
40,723
40,723ratings
55,610
55,610ratings
180,649
180,649ratings
107,208
107,208ratings
872,030
872,030ratings
7,907
7,907ratings
5,969
5,969ratings
3,657
3,657ratings
48,404
48,404ratings
117,770
117,770ratings
149,493
149,493ratings
4,329
4,329ratings
98,962
98,962ratings
55,740
55,740ratings
8,600
8,600ratings
10,400
10,400ratings
5,051
5,051ratings
3,039
3,039ratings
8,843
8,843ratings
7,031
7,031ratings
103
103ratings
4,841
4,841ratings
1,243
1,243ratings
5,291
5,291ratings
44,792
44,792ratings
22,902
22,902ratings
970
970ratings
75,789
75,789ratings
54,952
54,952ratings
7,967
7,967ratings
576
576ratings
61,656
61,656ratings
31,634
31,634ratings
2,553
2,553ratings
28,856
28,856ratings
20,958
20,958ratings
6,042
6,042ratings
26,662
26,662ratings
32,142
32,142ratings
37,886
37,886ratings
2,410,476
2,410,476ratings
1,675
1,675ratings
7,618
7,618ratings
5,094
5,094ratings
149,250
149,250ratings
106
106ratings
25,632
25,632ratings
11,296
11,296ratings
31,204
31,204ratings
58,856
58,856ratings
352,934
352,934ratings
796,772
796,772ratings
318,313
318,313ratings
97,051
97,051ratings
674,892
674,892ratings
18,208
18,208ratings
71,133
71,133ratings
59,887
59,887ratings
363,071
363,071ratings
45,763
45,763ratings
20,493
20,493ratings
80,928
80,928ratings
151,121
151,121ratings
540,602
540,602ratings
13,219
13,219ratings
45,271
45,271ratings
273,364
273,364ratings
726,636
726,636ratings
7,392
7,392ratings
115
115ratings
50,025
50,025ratings
32,849
32,849ratings
14,899
14,899ratings
316,968
316,968ratings
8,608
8,608ratings
908
908ratings
31,259
31,259ratings
7,742
7,742ratings
10,851
10,851ratings
8,396
8,396ratings
80,205
80,205ratings
9,041
9,041ratings
8,858
8,858ratings
2,042,456
2,042,456ratings
17,809
17,809ratings
41,755
41,755ratings
1,613
1,613ratings
7,996
7,996ratings
14,767
14,767ratings
57,691
57,691ratings
213,226
213,226ratings
8,967
8,967ratings
422,767
422,767ratings
40,999
40,999ratings
3,232
3,232ratings
2,693
2,693ratings
2,135
2,135ratings
75,099
75,099ratings
665
665ratings
5,079
5,079ratings
123
123ratings
36
36ratings
15
15ratings
37,374
37,374ratings
118,216
118,216ratings
7,308
7,308ratings
18,271
18,271ratings
10
10ratings
1,448
1,448ratings
7,912
7,912ratings
923
923ratings
1,052
1,052ratings
869
869ratings
526
526ratings
670
670ratings
221
221ratings
1,440
1,440ratings
9,035
9,035ratings
7,215
7,215ratings
7,644
7,644ratings
12,660
12,660ratings
5,006
5,006ratings
149
149ratings
56
56ratings
573
573ratings
235
235ratings
65
65ratings
954
954ratings
2,331
2,331ratings
246
246ratings
146
146ratings
31
31ratings
19
19ratings
19
19ratings
90
90ratings
347
347ratings
277,561
277,561ratings
495,185
495,185ratings
72,867
72,867ratings
15,083
15,083ratings
18,716
18,716ratings
10,693
10,693ratings
11,488
11,488ratings
45,467
45,467ratings
37,966
37,966ratings
3,330
3,330ratings
6,408
6,408ratings
1,400
1,400ratings
10,803
10,803ratings
5,023
5,023ratings
1,699
1,699ratings
38,758
38,758ratings
10,062
10,062ratings
12,867
12,867ratings
2,202
2,202ratings
244
244ratings
12,839
12,839ratings
221
221ratings
1,617
1,617ratings
13,706
13,706ratings
1,710
1,710ratings
227
227ratings
326
326ratings
87
87ratings
495
495ratings
2,766
2,766ratings
122
122ratings
2,365
2,365ratings
340
340ratings
16,886
16,886ratings
171
171ratings
133
133ratings
6,717
6,717ratings
7,305
7,305ratings
6,348
6,348ratings
286
286ratings
146
146ratings
6,864
6,864ratings
202
202ratings
6
6ratings
9,754
9,754ratings
16
16ratings
229
229ratings
1,116
1,116ratings
176
176ratings
8
8ratings
30
30ratings
897
897ratings
295
295ratings
920
920ratings
1,074
1,074ratings
1,429
1,429ratings
14,317
14,317ratings
1,617
1,617ratings
8,480
8,480ratings
85
85ratings

25
25ratings
1,250
1,250ratings
52
52ratings
14
14ratings
247,557
247,557ratings
20,618
20,618ratings
49,799
49,799ratings
15,650
15,650ratings
7,712
7,712ratings
11,804
11,804ratings
8,380
8,380ratings
38,939
38,939ratings
68,910
68,910ratings
20,029
20,029ratings
7,783
7,783ratings
38,269
38,269ratings
7,279
7,279ratings
37,966
37,966ratings
9,976
9,976ratings
10,129
10,129ratings
6,806
6,806ratings
3,296
3,296ratings
24,715
24,715ratings
48,884
48,884ratings
956
956ratings
448
448ratings
4,916
4,916ratings
559
559ratings
2,235
2,235ratings
1,044
1,044ratings
45,467
45,467ratings
765
765ratings
9,523
9,523ratings
2,651
2,651ratings
1,258
1,258ratings
3,792
3,792ratings
2,601
2,601ratings
3,327
3,327ratings
641
641ratings
6,979
6,979ratings
6,143
6,143ratings
7,786
7,786ratings
1,386
1,386ratings
2,103
2,103ratings
136
136ratings
3,268
3,268ratings
17,419
17,419ratings
118
118ratings
204
204ratings
1,996
1,996ratings
63
63ratings
14,975
14,975ratings
3,685
3,685ratings
2,041
2,041ratings
237
237ratings
924
924ratings
1,282
1,282ratings
168
168ratings
298,741
298,741ratings
621,785
621,785ratings
876,745
876,745ratings
555,763
555,763ratings
278,187
278,187ratings
590,328
590,328ratings
302,635
302,635ratings
391,544
391,544ratings
226,373
226,373ratings
652,012
652,012ratings
369,492
369,492ratings
212,556
212,556ratings
594,365
594,365ratings
117,642
117,642ratings
146,341
146,341ratings
159,463
159,463ratings
596,173
596,173ratings
83,853
83,853ratings
116,951
116,951ratings
142,208
142,208ratings
540,602
540,602ratings
207,078
207,078ratings
106,022
106,022ratings
755,596
755,596ratings
75,851
75,851ratings
89,813
89,813ratings
85,035
85,035ratings
59,318
59,318ratings
239,480
239,480ratings
61,058
61,058ratings
113,676
113,676ratings
86,441
86,441ratings
47,904
47,904ratings
44,588
44,588ratings
77,194
77,194ratings
89,724
89,724ratings
77,007
77,007ratings
149,552
149,552ratings
147,396
147,396ratings
126,838
126,838ratings
48,358
48,358ratings
51,959
51,959ratings
38,380
38,380ratings
68,638
68,638ratings
43,856
43,856ratings
69,671
69,671ratings
54,364
54,364ratings
32,713
32,713ratings
26,993
26,993ratings
143,449
143,449ratings
56,628
56,628ratings
34,809
34,809ratings
25,770
25,770ratings
24,280
24,280ratings
19,926
19,926ratings
137,357
137,357ratings
26,757
26,757ratings
21,326
21,326ratings
26,942
26,942ratings
18,971
18,971ratings
13,811
13,811ratings
50,229
50,229ratings
30,313
30,313ratings
16,085
16,085ratings
9,637
9,637ratings
19,163
19,163ratings
227,122
227,122ratings
23,394
23,394ratings
12,947
12,947ratings
285,169
285,169ratings
12,183
12,183ratings
165,700
165,700ratings
47,394
47,394ratings
41,226
41,226ratings
19,872
19,872ratings
989
989ratings
414
414ratings
2
2ratings
19,876
19,876ratings
6,424
6,424ratings
8,613
8,613ratings
1,551
1,551ratings
2,967
2,967ratings
6,484
6,484ratings
6,416
6,416ratings
8,897
8,897ratings
2,062
2,062ratings
2,405
2,405ratings
2,062
2,062ratings
268
268ratings
3,225
3,225ratings
2,405
2,405ratings
133
133ratings
38
38ratings
13,562
13,562ratings
32
32ratings
7
7ratings
5
5ratings
39
39ratings
12
12ratings
456,788
456,788ratings
2,354
2,354ratings
13
13ratings
48
48ratings
229
229ratings
5,690
5,690ratings
51
51ratings
6,449
6,449ratings
5,229
5,229ratings
num_ratings
num_ratings
229
229ratings
5,690
5,690ratings
51
51ratings
6,449
6,449ratings
5,228
5,228ratings
4,663
4,663ratings
1,464,101
1,464,101ratings
1,081,400
1,081,400ratings
1,917,507
1,917,507ratings
115,938
115,938ratings
15,707
15,707ratings
215,020
215,020ratings
33,102
33,102ratings
32,753
32,753ratings
837,641
837,641ratings
246,770
246,770ratings
397
397ratings
6,493
6,493ratings
5,792
5,792ratings
406
406ratings
17,231
17,231ratings
12,159
12,159ratings
975
975ratings
5
5ratings
1,620
1,620ratings
6,149
6,149ratings
11,449
11,449ratings
68
68ratings
19,300
19,300ratings
5,616
5,616ratings
4,870
4,870ratings
76
76ratings
16,287
16,287ratings
9,726
9,726ratings
36,654
36,654ratings
21
21ratings
1,664
1,664ratings
4,026
4,026ratings
3,572
3,572ratings
4,775
4,775ratings
1,538
1,538ratings
1,230
1,230ratings
984
984ratings
17
17ratings
2,801
2,801ratings
1
1rating
3,628
3,628ratings
18
18ratings
14
14ratings
5
5ratings
0
0ratings
51,153
51,153ratings
770
770ratings
23
23ratings
2
2ratings
16
16ratings
27
27ratings
500
500ratings
62
62ratings
6,026
6,026ratings
68
68ratings
983
983ratings
1,737
1,737ratings
2,308
2,308ratings
5,920
5,920ratings
11,333
11,333ratings
35
35ratings
35
35ratings
13
13ratings
20
20ratings
13
13ratings
4,234
4,234ratings
395
395ratings
523
523ratings
9,964
9,964ratings
2,183
2,183ratings
1,027,015
1,027,015ratings
636,344
636,344ratings
1,460,855
1,460,855ratings
681,724
681,724ratings
162,621
162,621ratings
239,896
239,896ratings
207,629
207,629ratings
2,255,889
2,255,889ratings
102,392
102,392ratings
124,900
124,900ratings
173,752
173,752ratings
121,143
121,143ratings
100,131
100,131ratings
95,899
95,899ratings
83,740
83,740ratings
73,662
73,662ratings
76,099
76,099ratings
398,209
398,209ratings
179,568
179,568ratings
149,493
149,493ratings
44,025
44,025ratings
47,888
47,888ratings
36,903
36,903ratings
30,205
30,205ratings
32,679
32,679ratings
62,757
62,757ratings
48,518
48,518ratings
27,160
27,160ratings
27,748
27,748ratings
68,685
68,685ratings
59,748
59,748ratings
26,879
26,879ratings
46,711
46,711ratings
17,603
17,603ratings
58,927
58,927ratings
23,145
23,145ratings
78,113
78,113ratings
30,077
30,077ratings
20,159
20,159ratings
24,378
24,378ratings
103,706
103,706ratings
11,279
11,279ratings
96,994
96,994ratings
18,167
18,167ratings
13,406
13,406ratings
19,714
19,714ratings
15,064
15,064ratings
20,631
20,631ratings
22,111
22,111ratings
11,222
11,222ratings
9,376
9,376ratings
15,641
15,641ratings
9,561
9,561ratings
59,445
59,445ratings
5,114
5,114ratings
2,854
2,854ratings
2,683
2,683ratings
4,084
4,084ratings
970
970ratings
46,114
46,114ratings
4,026,877
4,026,877ratings
1,460,855
1,460,855ratings
6,124,564
6,124,564ratings
2,681,746
2,681,746ratings
2,409,882
2,409,882ratings
2,453,704
2,453,704ratings
2,474,564
2,474,564ratings
255,182
255,182ratings
1,290,522
1,290,522ratings
2,042,456
2,042,456ratings
953,670
953,670ratings
603,167
603,167ratings
468,000
468,000ratings
176,607
176,607ratings
3,358,090
3,358,090ratings
5,817,141
5,817,141ratings
1,163,297
1,163,297ratings
1,279,952
1,279,952ratings
1,184,620
1,184,620ratings
1,760,017
1,760,017ratings
662,703
662,703ratings
328,695
328,695ratings
672,456
672,456ratings
141,695
141,695ratings
1,128,523
1,128,523ratings
510,044
510,044ratings
581,191
581,191ratings
4,501,183
4,501,183ratings
543,757
543,757ratings
401,561
401,561ratings
677,383
677,383ratings
285,973
285,973ratings
832,755
832,755ratings
1,043,388
1,043,388ratings
243,745
243,745ratings
330,312
330,312ratings
49,783
49,783ratings
1,201,906
1,201,906ratings
142,208
142,208ratings
457,785
457,785ratings
451,367
451,367ratings
208,868
208,868ratings
1,027,015
1,027,015ratings
359,077
359,077ratings
992,345
992,345ratings
194,831
194,831ratings
2,140,143
2,140,143ratings
316,968
316,968ratings
551,330
551,330ratings
830,822
830,822ratings
128,715
128,715ratings
101,640
101,640ratings
113,212
113,212ratings
476,116
476,116ratings
2,233,255
2,233,255ratings
647,692
647,692ratings
878,153
878,153ratings
316,484
316,484ratings
538,365
538,365ratings
258,004
258,004ratings
1,263,633
1,263,633ratings
726,635
726,635ratings
140,557
140,557ratings
585,218
585,218ratings
159,998
159,998ratings
372,768
372,768ratings
2,511
2,511ratings
178,549
178,549ratings
71,120
71,120ratings
222,562
222,562ratings
62,478
62,478ratings
2,101,394
2,101,394ratings
58,067
58,067ratings
29,967
29,967ratings
1,007,826
1,007,826ratings
391,544
391,544ratings
604,252
604,252ratings
78,371
78,371ratings
242,305
242,305ratings
828,012
828,012ratings
633,548
633,548ratings
36,769
36,769ratings
223,817
223,817ratings
36,852
36,852ratings
43,461
43,461ratings
15,077
15,077ratings
1,602
1,602ratings
3,154
3,154ratings
7,399
7,399ratings
2,693
2,693ratings
2,261
2,261ratings
31
31ratings
518
518ratings
12,576
12,576ratings
1,537
1,537ratings
13
13ratings
12
12ratings
3,097
3,097ratings
38,718
38,718ratings
83,284
83,284ratings
1,237
1,237ratings
105,613
105,613ratings
13,469
13,469ratings
11,617
11,617ratings
353
353ratings
453
453ratings
2,685
2,685ratings
33
33ratings
62
62ratings
1,073
1,073ratings
2,808
2,808ratings
1,583
1,583ratings
997
997ratings

2,191
2,191ratings
1,656
1,656ratings
694
694ratings
923
923ratings
687
687ratings
96,467
96,467ratings
65
65ratings
5,988
5,988ratings
21,320
21,320ratings
175
175ratings
317
317ratings
401
401ratings
70
70ratings
14
14ratings
39
39ratings
2,241
2,241ratings
678
678ratings
1,997
1,997ratings
3,380
3,380ratings
38
38ratings
82
82ratings
67,172
67,172ratings
3,768
3,768ratings
2,013
2,013ratings
945
945ratings
168
168ratings
212
212ratings
1,548
1,548ratings
368
368ratings
13
13ratings
404
404ratings
9,113
9,113ratings
213
213ratings
284
284ratings
269
269ratings
7,923
7,923ratings
3,923
3,923ratings
1
1rating
11
11ratings
139
139ratings
77
77ratings
11
11ratings
236
236ratings
570
570ratings
1
1rating
4
4ratings
num_ratings
num_ratings
353
353ratings
3,421
3,421ratings
1,611
1,611ratings
2,285
2,285ratings
2,204,339
2,204,339ratings
209
209ratings
11,466
11,466ratings
9,053
9,053ratings
2,906
2,906ratings
87,179
87,179ratings
5,497
5,497ratings
2,540
2,540ratings
48,563
48,563ratings
4,047
4,047ratings
1,723
1,723ratings
4,323
4,323ratings
2,038
2,038ratings
1,821
1,821ratings
471
471ratings
7,749
7,749ratings
4,603
4,603ratings
6,993
6,993ratings
1,950
1,950ratings
178
178ratings
4,458
4,458ratings
5,105
5,105ratings
3,540
3,540ratings
3,808
3,808ratings
273
273ratings
1,089
1,089ratings
2,650
2,650ratings
667
667ratings
570
570ratings
979
979ratings
699
699ratings
180
180ratings
6,276
6,276ratings
1,053
1,053ratings
5,092
5,092ratings
2,454,947
2,454,947ratings
986,208
986,208ratings
3,111,444
3,111,444ratings
401,561
401,561ratings
2,149,162
2,149,162ratings
1,618,241
1,618,241ratings
1,201,883
1,201,883ratings
2,203,100
2,203,100ratings
613,919
613,919ratings
2,101,394
2,101,394ratings
1,464,101
1,464,101ratings
422,767
422,767ratings
5,817,141
5,817,141ratings
2,204,339
2,204,339ratings
1,861,521
1,861,521ratings
1,279,952
1,279,952ratings
354,091
354,091ratings
2,453,704
2,453,704ratings
1,318,543
1,318,543ratings
4,026,877
4,026,877ratings
428,409
428,409ratings
1,760,017
1,760,017ratings
1,027,400
1,027,400ratings
837,641
837,641ratings
1,483,936
1,483,936ratings
482,801
482,801ratings
876,745
876,745ratings
704,728
704,728ratings
830,908
830,908ratings
1,139,073
1,139,073ratings
2,233,255
2,233,255ratings
662,003
662,003ratings
205,300
205,300ratings
1,128,523
1,128,523ratings
535,223
535,223ratings
316,732
316,732ratings
507,482
507,482ratings
827,926
827,926ratings
702,713
702,713ratings
80,111
80,111ratings
310,814
310,814ratings
622,322
622,322ratings
1,001,952
1,001,952ratings
1,891,688
1,891,688ratings
1,007,810
1,007,810ratings
2,255,889
2,255,889ratings
451,367
451,367ratings
1,917,507
1,917,507ratings
218,870
218,870ratings
1,471,088
1,471,088ratings
416,872
416,872ratings
1,266,780
1,266,780ratings
652,075
652,075ratings
258,487
258,487ratings
975,300
975,300ratings
282,266
282,266ratings
284,600
284,600ratings
468,000
468,000ratings
49,856
49,856ratings
1,048,602
1,048,602ratings
1,199,099
1,199,099ratings
134,430
134,430ratings
409,038
409,038ratings
604,235
604,235ratings
1,201,906
1,201,906ratings
413,282
413,282ratings
276,858
276,858ratings
255,058
255,058ratings
143,029
143,029ratings
257,631
257,631ratings
569,734
569,734ratings
390,643
390,643ratings
495,185
495,185ratings
807,254
807,254ratings
250,913
250,913ratings
273,077
273,077ratings
494,409
494,409ratings
753,829
753,829ratings
296,225
296,225ratings
49,722
49,722ratings
49,647
49,647ratings
62,165
62,165ratings
226,534
226,534ratings
677,483
677,483ratings
2,410,809
2,410,809ratings
72,648
72,648ratings
48,029
48,029ratings
407,132
407,132ratings
69,666
69,666ratings
179,800
179,800ratings
209,165
209,165ratings
295,283
295,283ratings
805,962
805,962ratings
1,346
1,346ratings
2,639,590
2,639,590ratings
731,975
731,975ratings
51,788
51,788ratings
1,471,088
1,471,088ratings
1,007,810
1,007,810ratings
75,664
75,664ratings
477,441
477,441ratings
880,100
880,100ratings
41,093
41,093ratings
40,469
40,469ratings
46,208
46,208ratings
30,927
30,927ratings
25,685
25,685ratings
51,259
51,259ratings
231,226
231,226ratings
1,199,099
1,199,099ratings
54,028
54,028ratings
259,096
259,096ratings
47,080
47,080ratings
41,554
41,554ratings
28,514
28,514ratings
23,785
23,785ratings
26,261
26,261ratings
30,370
30,370ratings
33,369
33,369ratings
31,600
31,600ratings
32,700
32,700ratings
27,810
27,810ratings
26,391
26,391ratings
1,591,923
1,591,923ratings
35,671
35,671ratings
295,283
295,283ratings
22,088
22,088ratings
40,004
40,004ratings
35,183
35,183ratings
130,199
130,199ratings
29,659
29,659ratings
23,537
23,537ratings
435,437
435,437ratings
29,445
29,445ratings
22,906
22,906ratings
30,288
30,288ratings
24,987
24,987ratings
183,758
183,758ratings
21,607
21,607ratings
26,213
26,213ratings
12,444
12,444ratings
16,722
16,722ratings
18,051
18,051ratings
148,776
148,776ratings
29,694
29,694ratings
398,313
398,313ratings
18,015
18,015ratings
15,888
15,888ratings
15,211
15,211ratings
28,989
28,989ratings
19,175
19,175ratings
9,571
9,571ratings
273,976
273,976ratings
15,688
15,688ratings
15,109
15,109ratings
125,696
125,696ratings
22,942
22,942ratings
9,844
9,844ratings
190,153
190,153ratings
7,501
7,501ratings
12,275
12,275ratings
18,522
18,522ratings
15,810
15,810ratings
16,854
16,854ratings
21,231
21,231ratings
16,946
16,946ratings
33,216
33,216ratings
262,678
262,678ratings
11,424
11,424ratings
12,105
12,105ratings
14,633
14,633ratings
27,587
27,587ratings
13,069
13,069ratings
19,573
19,573ratings
6,727
6,727ratings
10,172
10,172ratings
7,582
7,582ratings
26,540
26,540ratings
9,871
9,871ratings
11,823
11,823ratings
5,998
5,998ratings
12,791
12,791ratings
11,921
11,921ratings
8,863
8,863ratings
12,379
12,379ratings
15,023
15,023ratings
12,669
12,669ratings
20,180
20,180ratings
9,393
9,393ratings
813
813ratings
4,501,183
4,501,183ratings
269,629
269,629ratings
1,472,441
1,472,441ratings
511,252
511,252ratings
837,641
837,641ratings
525,763
525,763ratings
159,113
159,113ratings
60,464
60,464ratings
142,760
142,760ratings
80,350
80,350ratings
599,047
599,047ratings
88,828
88,828ratings
511,252
511,252ratings
407,132
407,132ratings
405,759
405,759ratings
455,116
455,116ratings
72,217
72,217ratings
731,975
731,975ratings
80,611
80,611ratings
353,352
353,352ratings
68,924
68,924ratings
55,785
55,785ratings
205,325
205,325ratings
93,111
93,111ratings
57,188
57,188ratings
250,779
250,779ratings
85,686
85,686ratings
144,321
144,321ratings
153,591
153,591ratings
47,016
47,016ratings
128,783
128,783ratings
126,622
126,622ratings
164,659
164,659ratings
722,440
722,440ratings
2,149
2,149ratings
159,359
159,359ratings
508,340
508,340ratings
177,976
177,976ratings
50,580
50,580ratings
127,239
127,239ratings
114,255
114,255ratings
1,201,906
1,201,906ratings
32,271
32,271ratings
147,703
147,703ratings
245
245ratings
48,265
48,265ratings
104,364
104,364ratings
49,928
49,928ratings
1,464,101
1,464,101ratings
98,257
98,257ratings
70,349
70,349ratings
50,329
50,329ratings
196,879
196,879ratings
61,656
61,656ratings
19,584
19,584ratings
55,797
55,797ratings
99,904
99,904ratings
605,745
605,745ratings
71,428
71,428ratings
447,358
447,358ratings
320,637
320,637ratings
50,676
50,676ratings
29,856
29,856ratings
115,795
115,795ratings
51,938
51,938ratings
16,889
16,889ratings
54,438
54,438ratings
1,290,966
1,290,966ratings
41,531
41,531ratings
179,030
179,030ratings
8,846
8,846ratings
88,753
88,753ratings
2,814
2,814ratings
60,396
60,396ratings
25,846
25,846ratings
58,541
58,541ratings
80,155
80,155ratings
143,857
143,857ratings
141
141ratings
76,108
76,108ratings
38,649
38,649ratings
382
382ratings
32,738
32,738ratings
37,960
37,960ratings
38,929
38,929ratings
104,952
104,952ratings
100,860
100,860ratings
35,732
35,732ratings
24,762
24,762ratings
24,244
24,244ratings
108,594
108,594ratings
1,318,543
1,318,543ratings
89,634
89,634ratings
11,915
11,915ratings
65,666
65,666ratings
19,557
19,557ratings
60,507
60,507ratings
9,135
9,135ratings
1,279,952
1,279,952ratings
807,254
807,254ratings
1,930,256
1,930,256ratings
645,605
645,605ratings
1,483,936
1,483,936ratings
538,446
538,446ratings
742,382
742,382ratings
212,857
212,857ratings
953,670
953,670ratings
1,112,157
1,112,157ratings
6,124,564
6,124,564ratings
2,575,583
2,575,583ratings
551,330
551,330ratings
239,267
239,267ratings
255,058
255,058ratings
243,745
243,745ratings
2,453,704
2,453,704ratings
830,908
830,908ratings
269,735
269,735ratings
218,870
218,870ratings
338,051
338,051ratings
372,195
372,195ratings
4,026,877
4,026,877ratings
176,614
176,614ratings
427,260
427,260ratings
205,300
205,300ratings
321,620
321,620ratings
347,981
347,981ratings
277,231
277,231ratings
181,023
181,023ratings
330,312
330,312ratings
176,905
176,905ratings
1,139,073
1,139,073ratings
65,734
65,734ratings
218,970
218,970ratings
172,235
172,235ratings
186,857
186,857ratings

401,561
401,561ratings
297,367
297,367ratings
146,989
146,989ratings
2,115
2,115ratings
463,543
463,543ratings
136,760
136,760ratings
116,477
116,477ratings
126,181
126,181ratings
164,211
164,211ratings
92,102
92,102ratings
58,618
58,618ratings
1,471,088
1,471,088ratings
239,096
239,096ratings
157,375
157,375ratings
58,067
58,067ratings
390,643
390,643ratings
368,716
368,716ratings
88,923
88,923ratings
72,389
72,389ratings
66,545
66,545ratings
363,071
363,071ratings
84,438
84,438ratings
49,723
49,723ratings
39,074
39,074ratings
126,319
126,319ratings
255,182
255,182ratings
207,455
207,455ratings
100,904
100,904ratings
105,057
105,057ratings
2,366,191
2,366,191ratings
275,530
275,530ratings
73,380
73,380ratings
2,410,809
2,410,809ratings
20,837
20,837ratings
57,691
57,691ratings
110,003
110,003ratings
43,090
43,090ratings
65,142
65,142ratings
161,785
161,785ratings
29,967
29,967ratings
125,749
125,749ratings
36,049
36,049ratings
148,485
148,485ratings
189,462
189,462ratings
32,503
32,503ratings
34,361
34,361ratings
158,732
158,732ratings
17,010
17,010ratings
69,314
69,314ratings
3,492
3,492ratings
26,084
26,084ratings
22,523
22,523ratings
32,818
32,818ratings
60,036
60,036ratings
25,261
25,261ratings
19,257
19,257ratings
134,596
134,596ratings
43,419
43,419ratings
13,622
13,622ratings
75,031
75,031ratings
101,928
101,928ratings
13,644
13,644ratings
15,126
15,126ratings
9,860
9,860ratings
53,678
53,678ratings
82,664
82,664ratings
68,531
68,531ratings
65,943
65,943ratings
58,932
58,932ratings
34,253
34,253ratings
28,874
28,874ratings
5,157
5,157ratings
5,650
5,650ratings
31,426
31,426ratings
18,942
18,942ratings
10,917
10,917ratings
13,903
13,903ratings
92,202
92,202ratings
35,102
35,102ratings
22,802
22,802ratings
17,007
17,007ratings
69,197
69,197ratings
14,517
14,517ratings
6,243
6,243ratings
9,511
9,511ratings
218,922
218,922ratings
2,934
2,934ratings
29,893
29,893ratings
176,429
176,429ratings
13,206
13,206ratings
5,616
5,616ratings
4,163
4,163ratings
10,616
10,616ratings
28,289
28,289ratings
5,940
5,940ratings
6,987
6,987ratings
33,918
33,918ratings
44,077
44,077ratings
12,889
12,889ratings
27,363
27,363ratings
17,048
17,048ratings
53,943
53,943ratings
10,407
10,407ratings
47,093
47,093ratings
74,078
74,078ratings
5,518
5,518ratings
189
189ratings
1,514
1,514ratings
2,101
2,101ratings
20,650
20,650ratings
33,582
33,582ratings
5,364
5,364ratings
136,760
136,760ratings
23,011
23,011ratings
131,042
131,042ratings
14,268
14,268ratings
1,775
1,775ratings
6,967
6,967ratings
4,896
4,896ratings
7,733
7,733ratings
3,090
3,090ratings
230,828
230,828ratings
4,535
4,535ratings
6,162
6,162ratings
12,293
12,293ratings
28,856
28,856ratings
858
858ratings
74
74ratings
6,073
6,073ratings
23,478
23,478ratings
16
16ratings
8,985
8,985ratings
27,703
27,703ratings
726,635
726,635ratings
3,083
3,083ratings
369
369ratings
883
883ratings
4,355
4,355ratings
4,459
4,459ratings
189
189ratings
13
13ratings
41,637
41,637ratings
11
11ratings
1,910
1,910ratings
3,932
3,932ratings
20
20ratings
59
59ratings
932
932ratings
10
10ratings
3,275
3,275ratings
100
100ratings
269
269ratings
913
913ratings
468
468ratings
775
775ratings
475
475ratings
3,396
3,396ratings
34
34ratings
16
16ratings
27
27ratings
13
13ratings
1,346
1,346ratings
15,901
15,901ratings
12
12ratings
1,204
1,204ratings
58
58ratings
23
23ratings
14
14ratings
4,312
4,312ratings
542
542ratings
6,563
6,563ratings
124
124ratings
299
299ratings
202
202ratings
132
132ratings
9
9ratings
123
123ratings
81
81ratings
28
28ratings
4
4ratings
34
34ratings
17
17ratings
15
15ratings
7
7ratings
72
72ratings
179
179ratings
47
47ratings
7
7ratings
49
49ratings
16
16ratings
35
35ratings
3
3ratings
86
86ratings
35
35ratings
0
0ratings
5
5ratings
42
42ratings
77
77ratings
3
3ratings
8
8ratings
43
43ratings
12
12ratings
62
62ratings
468
468ratings
6
6ratings
112
112ratings
57
57ratings
105
105ratings
2
2ratings
26
26ratings
1
1rating
1,618,241
1,618,241ratings
672,506
672,506ratings
409,038
409,038ratings
48,766
48,766ratings
841,775
841,775ratings
544,908
544,908ratings
392,925
392,925ratings
31,160
31,160ratings
399,852
399,852ratings
545,181
545,181ratings
105,268
105,268ratings
100,852
100,852ratings
19,492
19,492ratings
15,221
15,221ratings
159,463
159,463ratings
56,365
56,365ratings
116,027
116,027ratings
11,825
11,825ratings
73,261
73,261ratings
85,246
85,246ratings
59,411
59,411ratings
48,851
48,851ratings
184,586
184,586ratings
140,262
140,262ratings
31,095
31,095ratings
246,770
246,770ratings
87,153
87,153ratings
20,818
20,818ratings

In [163]:
df['num_ratings']

0         840,272\n  ratings
1       1,748,882\n  ratings
2          88,930\n  ratings
3          39,033\n  ratings
4          36,499\n  ratings
5          74,549\n  ratings
6         398,313\n  ratings
7          22,581\n  ratings
8          16,436\n  ratings
9         602,753\n  ratings
10         66,303\n  ratings
11         18,971\n  ratings
12        118,817\n  ratings
13         27,386\n  ratings
14         29,482\n  ratings
15         85,896\n  ratings
16            268\n  ratings
17         73,653\n  ratings
18         52,415\n  ratings
19        115,917\n  ratings
20          6,996\n  ratings
21         40,685\n  ratings
22        172,235\n  ratings
23         34,240\n  ratings
24         16,366\n  ratings
25      2,426,484\n  ratings
26         35,903\n  ratings
27      1,809,817\n  ratings
28         66,361\n  ratings
29         17,019\n  ratings
                ...
2197           26\n  ratings
2198             1\n  rating
2200    1,618,241\n  ratings
2201      672,506\n  ratings
2203      409,038\n  ratings
2204       48,766\n  ratings
2205      841,775\n  ratings
2206      544,908\n  ratings
2207      392,925\n  ratings
2208       31,160\n  ratings
2209      399,852\n  ratings
2210      545,181\n  ratings
2212      105,268\n  ratings
2213      100,852\n  ratings
2215       19,492\n  ratings
2216       15,221\n  ratings
2217      159,463\n  ratings
2218       56,365\n  ratings
2219      116,027\n  ratings
2220       11,825\n  ratings
2221       73,261\n  ratings
2222       85,246\n  ratings
2223       59,411\n  ratings
2224       48,851\n  ratings
2225      184,586\n  ratings
2226      140,262\n  ratings
2227       31,095\n  ratings
2228      246,770\n  ratings
2230       87,153\n  ratings
2231       20,818\n  ratings
Name: num_ratings, Length: 1945, dtype: object

In [182]:
for val in df['num_ratings']:
    val_l = val.split('\n  ')
    new_val = ' '.join(val_l)
    df.replace(val, new_val, inplace=True)

In [185]:
for val in df['num_reviews']:
    val_l = val.split('\n  ')
    new_val = ' '.join(val_l)
    df.replace(val, new_val, inplace=True)

In [187]:
for val in df['published_on']:
    val_l = val.split('\n  ')
    new_val = ' '.join(val_l)
    df.replace(val, new_val, inplace=True)

In [188]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,5297,The Picture of Dorian Gray,Oscar Wilde,4.07,"840,272 ratings","25,411 reviews","﻿Written in his distinctively dazzling manner,...",0375751513,9780375751516,Paperback,Modern Library Classics,272 pages,Published June 1st 2004 by Random...,"['Classics', 'Fiction', 'Horror', 'Fantasy', '..."
1,968,The Da Vinci Code,Dan Brown,3.83,"1,748,882 ratings","44,738 reviews",An ingenious code hidden in the works of Leona...,0307277674,9780307277671,Paperback,NaN,489 pages,Published March 28th 2006 by Anch...,"['Fiction', 'Mystery', 'Thriller', 'Suspense',..."
2,28078,The Birth of Venus,Sarah Dunant,3.81,"88,930 ratings","3,167 reviews",Alessandra Cecchi is not quite fifteen when he...,0812968972,9780812968972,Paperback,NaN,427 pages,Published November 30th 2004 by R...,"['Historical', 'Historical Fiction', 'Fiction'..."
3,89788,The Lady and the Unicorn,Tracy Chevalier,3.68,"39,033 ratings","1,850 reviews","A tour de force of history and imagination, Th...",0452285453,9780452285453,Paperback,NaN,250 pages,Published December 1st 2004 by Pe...,"['Historical', 'Historical Fiction', 'Fiction'..."
4,321577,Girl in Hyacinth Blue,Susan Vreeland,3.73,"36,499 ratings","1,818 reviews",A professor invites a colleague from the art d...,014029628X,9780140296280,Paperback,NaN,242 pages,Published October 1st 2000 by Pen...,"['Historical', 'Historical Fiction', 'Fiction'..."

In [189]:
for val in df.isbn13:
    new_val = val.strip(')')
    df.replace(val, new_val, inplace=True)

In [190]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,5297,The Picture of Dorian Gray,Oscar Wilde,4.07,"840,272 ratings","25,411 reviews","﻿Written in his distinctively dazzling manner,...",0375751513,9780375751516,Paperback,Modern Library Classics,272 pages,Published June 1st 2004 by Random...,"['Classics', 'Fiction', 'Horror', 'Fantasy', '..."
1,968,The Da Vinci Code,Dan Brown,3.83,"1,748,882 ratings","44,738 reviews",An ingenious code hidden in the works of Leona...,0307277674,9780307277671,Paperback,NaN,489 pages,Published March 28th 2006 by Anch...,"['Fiction', 'Mystery', 'Thriller', 'Suspense',..."
2,28078,The Birth of Venus,Sarah Dunant,3.81,"88,930 ratings","3,167 reviews",Alessandra Cecchi is not quite fifteen when he...,0812968972,9780812968972,Paperback,NaN,427 pages,Published November 30th 2004 by R...,"['Historical', 'Historical Fiction', 'Fiction'..."
3,89788,The Lady and the Unicorn,Tracy Chevalier,3.68,"39,033 ratings","1,850 reviews","A tour de force of history and imagination, Th...",0452285453,9780452285453,Paperback,NaN,250 pages,Published December 1st 2004 by Pe...,"['Historical', 'Historical Fiction', 'Fiction'..."
4,321577,Girl in Hyacinth Blue,Susan Vreeland,3.73,"36,499 ratings","1,818 reviews",A professor invites a colleague from the art d...,014029628X,9780140296280,Paperback,NaN,242 pages,Published October 1st 2000 by Pen...,"['Historical', 'Historical Fiction', 'Fiction'..."

In [191]:
df = pd.read_csv('bb_details.csv')
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,18386,\n The Death of Ivan Ilych\n,Leo Tolstoy,\n 4.07\n,"\n\n 75,056\n ratings\n","\n\n 4,096\n reviews\n",Hailed as one of the world's supreme masterpie...,1600964338,9781600964336),Paperback,NaN,86 pages,\n Published\n August 3rd 20...,"['Classics', 'Fiction', 'Cultural', 'Russia', ..."
1,6080337-the-year-of-the-flood,\n The Year of the Flood\n,Margaret Atwood,\n 4.07\n,"\n\n 94,003\n ratings\n","\n\n 7,205\n reviews\n",The times and species have been changing at a ...,0385528779,9780385528771),Hardcover,First United States Edition,431 pages,\n Published\n September 22n...,"['Fiction', 'Science Fiction', 'Science Fictio..."
2,27371034-annabel-horton-lost-witch-of-salem,"\n Annabel Horton, Lost Witch of Salem\n",Olivia Hardy Ray,\n 4.32\n,\n\n 271\n ratings\n,\n\n 19\n reviews\n,From the Salem Witch trials through the Ninete...,English,English,Kindle Edition,NaN,374 pages,\n Published\n March 11th 20...,[]
3,7897851-bloodlines,\n Bloodlines\n,Lindsay Anne Kendal,\n 3.70\n,\n\n 927\n ratings\n,\n\n 83\n reviews\n,"Keira Jameson used to lead a normal life, she ...",English,English,Paperback,1st Edition,320 pages,\n Published\n April 29th 20...,"['Young Adult', 'Fantasy', 'Paranormal', 'Para..."
4,40121205-broken-promises,\n Broken Promises (Past Imperfect Myster...,Anne Willow,\n 4.29\n,"\n\n 1,069\n ratings\n",\n\n 25\n reviews\n,Julia needed a new start. The unexpected death...,English,English,Kindle Edition,NaN,229 pages,\n Published\n May 13th 2018...,"['Young Adult', 'Fiction', 'New Adult', 'Adult..."

In [197]:
df.shape

(4059, 14)

In [196]:
df.isnull().sum()

n                  0
title              0
author             0
rating             0
num_ratings        0
num_reviews        0
descrip            0
isbn               0
isbn13             0
binding           22
edition         3539
pages             41
published_on       5
genres             0
dtype: int64

In [195]:
df.dropna(subset=['descrip'], inplace=True)

In [198]:
for n in df.n:
    df.replace(n, n.split('-')[0], inplace=True)

In [199]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,18386,\n The Death of Ivan Ilych\n,Leo Tolstoy,\n 4.07\n,"\n\n 75,056\n ratings\n","\n\n 4,096\n reviews\n",Hailed as one of the world's supreme masterpie...,1600964338,9781600964336),Paperback,NaN,86 pages,\n Published\n August 3rd 20...,"['Classics', 'Fiction', 'Cultural', 'Russia', ..."
1,6080337,\n The Year of the Flood\n,Margaret Atwood,\n 4.07\n,"\n\n 94,003\n ratings\n","\n\n 7,205\n reviews\n",The times and species have been changing at a ...,0385528779,9780385528771),Hardcover,First United States Edition,431 pages,\n Published\n September 22n...,"['Fiction', 'Science Fiction', 'Science Fictio..."
2,27371034,"\n Annabel Horton, Lost Witch of Salem\n",Olivia Hardy Ray,\n 4.32\n,\n\n 271\n ratings\n,\n\n 19\n reviews\n,From the Salem Witch trials through the Ninete...,English,English,Kindle Edition,NaN,374 pages,\n Published\n March 11th 20...,[]
3,7897851,\n Bloodlines\n,Lindsay Anne Kendal,\n 3.70\n,\n\n 927\n ratings\n,\n\n 83\n reviews\n,"Keira Jameson used to lead a normal life, she ...",English,English,Paperback,1st Edition,320 pages,\n Published\n April 29th 20...,"['Young Adult', 'Fantasy', 'Paranormal', 'Para..."
4,40121205,\n Broken Promises (Past Imperfect Myster...,Anne Willow,\n 4.29\n,"\n\n 1,069\n ratings\n",\n\n 25\n reviews\n,Julia needed a new start. The unexpected death...,English,English,Kindle Edition,NaN,229 pages,\n Published\n May 13th 2018...,"['Young Adult', 'Fiction', 'New Adult', 'Adult..."

In [210]:
def strip_extra(df, col):
    for val in df[col]:
        try:
            new_val = val.strip()
            df.replace(val, new_val, inplace=True)
        except Exception:
            continue
    return df

def clean_line_breaks(df, col):
    for val in df[col]:
        try:
            val_l = val.split('\n  ')
            new_val = ' '.join(val_l)
            df.replace(val, new_val, inplace=True)
        except Exception:
            continue
    return df

def remove_paren(df, col):
    for val in df[col]:
        try:
            new_val = val.strip(')')
            df.replace(val, new_val, inplace=True)
        except Exception:
            continue

In [206]:
cols = ['title', 'rating', 'num_ratings', 'num_reviews', 'published_on']

for col in cols:
    strip_extra(df, col)

In [207]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,18386,The Death of Ivan Ilych,Leo Tolstoy,4.07,"75,056\n ratings","4,096\n reviews",Hailed as one of the world's supreme masterpie...,1600964338,9781600964336),Paperback,NaN,86 pages,Published\n August 3rd 2006\n b...,"['Classics', 'Fiction', 'Cultural', 'Russia', ..."
1,6080337,The Year of the Flood,Margaret Atwood,4.07,"94,003\n ratings","7,205\n reviews",The times and species have been changing at a ...,0385528779,9780385528771),Hardcover,First United States Edition,431 pages,Published\n September 22nd 2009\n ...,"['Fiction', 'Science Fiction', 'Science Fictio..."
2,27371034,"Annabel Horton, Lost Witch of Salem",Olivia Hardy Ray,4.32,271\n ratings,19\n reviews,From the Salem Witch trials through the Ninete...,English,English,Kindle Edition,NaN,374 pages,Published\n March 11th 2015\n b...,[]
3,7897851,Bloodlines,Lindsay Anne Kendal,3.70,927\n ratings,83\n reviews,"Keira Jameson used to lead a normal life, she ...",English,English,Paperback,1st Edition,320 pages,Published\n April 29th 2010\n b...,"['Young Adult', 'Fantasy', 'Paranormal', 'Para..."
4,40121205,Broken Promises (Past Imperfect Mystery Book 1),Anne Willow,4.29,"1,069\n ratings",25\n reviews,Julia needed a new start. The unexpected death...,English,English,Kindle Edition,NaN,229 pages,Published\n May 13th 2018\n by ...,"['Young Adult', 'Fiction', 'New Adult', 'Adult..."

In [211]:
cols = ['num_ratings', 'num_reviews', 'published_on']

for col in cols:
    clean_line_breaks(df, col)

In [212]:
remove_paren(df, 'isbn13')

In [213]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,18386,The Death of Ivan Ilych,Leo Tolstoy,4.07,"75,056 ratings","4,096 reviews",Hailed as one of the world's supreme masterpie...,1600964338,9781600964336,Paperback,NaN,86 pages,Published August 3rd 2006 by Waki...,"['Classics', 'Fiction', 'Cultural', 'Russia', ..."
1,6080337,The Year of the Flood,Margaret Atwood,4.07,"94,003 ratings","7,205 reviews",The times and species have been changing at a ...,0385528779,9780385528771,Hardcover,First United States Edition,431 pages,Published September 22nd 2009 by ...,"['Fiction', 'Science Fiction', 'Science Fictio..."
2,27371034,"Annabel Horton, Lost Witch of Salem",Olivia Hardy Ray,4.32,271 ratings,19 reviews,From the Salem Witch trials through the Ninete...,English,English,Kindle Edition,NaN,374 pages,Published March 11th 2015 by Chat...,[]
3,7897851,Bloodlines,Lindsay Anne Kendal,3.70,927 ratings,83 reviews,"Keira Jameson used to lead a normal life, she ...",English,English,Paperback,1st Edition,320 pages,Published April 29th 2010 by Book...,"['Young Adult', 'Fantasy', 'Paranormal', 'Para..."
4,40121205,Broken Promises (Past Imperfect Mystery Book 1),Anne Willow,4.29,"1,069 ratings",25 reviews,Julia needed a new start. The unexpected death...,English,English,Kindle Edition,NaN,229 pages,Published May 13th 2018 by Betwee...,"['Young Adult', 'Fiction', 'New Adult', 'Adult..."

In [214]:
df2 = pd.read_csv('bb_scrape.csv')

In [215]:
cols = ['title', 'rating', 'num_ratings', 'num_reviews', 'published_on']
for col in cols:
    strip_extra(df2, col)
    
cols = ['num_ratings', 'num_reviews', 'published_on']

for col in cols:
    clean_line_breaks(df2, col)
    
remove_paren(df, 'isbn13')

df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,18386,The Death of Ivan Ilych,Leo Tolstoy,4.07,"75,056 ratings","4,096 reviews",Hailed as one of the world's supreme masterpie...,1600964338,9781600964336,Paperback,NaN,86 pages,Published August 3rd 2006 by Waki...,"['Classics', 'Fiction', 'Cultural', 'Russia', ..."
1,6080337,The Year of the Flood,Margaret Atwood,4.07,"94,003 ratings","7,205 reviews",The times and species have been changing at a ...,0385528779,9780385528771,Hardcover,First United States Edition,431 pages,Published September 22nd 2009 by ...,"['Fiction', 'Science Fiction', 'Science Fictio..."
2,27371034,"Annabel Horton, Lost Witch of Salem",Olivia Hardy Ray,4.32,271 ratings,19 reviews,From the Salem Witch trials through the Ninete...,English,English,Kindle Edition,NaN,374 pages,Published March 11th 2015 by Chat...,[]
3,7897851,Bloodlines,Lindsay Anne Kendal,3.70,927 ratings,83 reviews,"Keira Jameson used to lead a normal life, she ...",English,English,Paperback,1st Edition,320 pages,Published April 29th 2010 by Book...,"['Young Adult', 'Fantasy', 'Paranormal', 'Para..."
4,40121205,Broken Promises (Past Imperfect Mystery Book 1),Anne Willow,4.29,"1,069 ratings",25 reviews,Julia needed a new start. The unexpected death...,English,English,Kindle Edition,NaN,229 pages,Published May 13th 2018 by Betwee...,"['Young Adult', 'Fiction', 'New Adult', 'Adult..."

In [216]:
df.shape, df2.shape

((4059, 14), (2232, 14))

In [219]:
for n in df2.n:
    df2.replace(n, n.split('-')[0], inplace=True)

In [221]:
cleaned = pd.concat([df, df2])

In [225]:
unique_books = cleaned.n.unique()

In [226]:
unique_books = []
for book in cleaned.n:
    if book not in unique_books:
        unique_books.append(book)

In [229]:
cleaned.drop_duplicates(subset='n', inplace=True)

In [230]:
cleaned.shape

(4720, 14)

In [231]:
cleaned.to_csv('cleaned.csv')

In [232]:
df = pd.read_csv('bb_details_Win.csv')

In [233]:
df.head()

,n,title,author,rating,num_ratings,num_reviews,descrip,isbn,isbn13,binding,edition,pages,published_on,genres
0,42701,\r\n The Van\r\n,Roddy Doyle,3.94,"\r\n\r\n 6,126\r\n ratings\r\n",\r\n\r\n 200\r\n reviews\r\n,NaN,0140260021,9780140260021),Paperback,NaN,320 pages,\r\n Published\r\n March 1st...,"['Fiction', 'European Literature', 'Irish Lite..."
1,1812454,\r\n Host\r\n,Peter James,4.00,\r\n\r\n 497\r\n ratings\r\n,\r\n\r\n 40\r\n reviews\r\n,NaN,0752837451,9780752837451),Mass Market Paperback,NaN,634 pages,\r\n Published\r\n \r\n ...,"['Horror', 'Fiction', 'Science Fiction', 'Thri..."
2,25684046-le-notti-bianche---la-cronaca-di-piet...,\r\n Le notti bianche - La cronaca di Pie...,Fyodor Dostoyevsky,4.01,"\r\n\r\n 1,559\r\n ratings\r\n",\r\n\r\n 68\r\n reviews\r\n,"Un giovane sognatore, nella magia vagamente in...",8807901870,9788807901874),Paperback,Universale economica #0187,152 pages,\r\n Published\r\n April 29t...,"['Classics', 'Literature', 'Russian Literature..."
3,30956412-the-counterlife,\r\n The Counterlife\r\n,Philip Roth,3.91,"\r\n\r\n 3,847\r\n ratings\r\n",\r\n\r\n 276\r\n reviews\r\n,The Counterlife is about people enacting their...,1504744012,9781504744010),Audio CD,NaN,NaN,\r\n Published\r\n October 1...,"['Fiction', 'Novels', 'Literature', 'American'..."
4,113348,\r\n The Red Tent\r\n,Anita Diamant,4.17,"\r\n\r\n 487,931\r\n ratings\r\n","\r\n\r\n 18,464\r\n reviews\r\n","Her name is Dinah. In the Bible, her life is o...",0312195516,9780312195519),Paperback,US / Canada,321 pages,\r\n Published\r\n 1997\r\n ...,"['Historical', 'Historical Fiction', 'Fiction'..."

In [234]:
df.shape

(990, 14)

In [235]:
for n in df2.n:
    df2.replace(n, n.split('-')[0], inplace=True)

cols = ['title', 'rating', 'num_ratings', 'num_reviews', 'published_on']
for col in cols:
    strip_extra(df, col)
    
cols = ['num_ratings', 'num_reviews', 'published_on']

for col in cols:
    clean_line_breaks(df, col)
    
remove_paren(df, 'isbn13')

df.head()

AttributeError: 'float' object has no attribute 'strip'